code/cyber_gouvernance_data.json
{
  "name": "cyber_gouvernance_data",
  "nodes": [
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.script }}"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -1168,
        -64
      ],
      "id": "2e818534-389f-493e-8d87-9a4dc9c24c82",
      "name": "Crypto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32d05ca1-46a0-4740-bd40-fa0ff0962ae6",
              "name": "script",
              "value": "={{ $json.script }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1360,
        -64
      ],
      "id": "3f713bdf-579f-4081-a3cf-b63b03a2ed70",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Valeur de référence SHA-256\nreference_hash = \"73a938fda187bfe124c528e1c2c44bfc731cf34aa61705df9fd03349c45e9975\"\n\n# Récupération du hash généré par le node Crypto\nincoming_hash = items[0]['json']['data']\n\n# Comparaison\nif incoming_hash == reference_hash:\n    result = \"fichier intact\"\nelse:\n    result = \"fichier altéré\"\n\n# Sortie\nreturn {\n    \"hash_reçu\": incoming_hash,\n    \"hash_attendu\": reference_hash,\n    \"résultat\": result,\n    \"sessionid\": \"12345\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        -64
      ],
      "id": "32b3b7d6-1755-4b6c-a0ef-995f637e8ae3",
      "name": "Code"
    },
    {
      "parameters": {
        "formTitle": "mettre les fichier ici",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Chargez vos documents ici",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1728,
        192
      ],
      "id": "38654a51-2024-4239-987b-3a7bde811909",
      "name": "On form submission",
      "webhookId": "d08ab845-07ca-441a-9b90-8413029cf2f7"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        },
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -1520,
        192
      ],
      "id": "1fe6761a-3acb-4220-886c-4a0cf5daa995",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Base de connaissances construite à partir des documents fournis par l’utilisateur.  \nUtilise-la pour retrouver et citer des passages pertinents afin de répondre aux questions de l’utilisateur.\n",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        },
        "topK": 100,
        "includeDocumentMetadata": false
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -752,
        224
      ],
      "id": "18ae15b6-0855-4929-9940-c49701ef2b52",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1344,
        384
      ],
      "id": "e020aa85-6968-4bb6-a5b7-7c3c871be7a4",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1408,
        688
      ],
      "id": "5743d762-416f-42a7-b721-139a8515cb80",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "NoZ9aJ2jaS1NHCrC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "liste des contacts ici",
        "height": 80,
        "width": 166
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1920,
        112
      ],
      "id": "1897ca6b-6f08-4491-8fef-00be0c427725",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1728,
        -64
      ],
      "id": "4cad2bb6-d41d-41df-a557-f3613f578b7c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10uKoMbsl5n8jPR4ftULvUiUc_1NYxy0OMyrjR-uvtU8",
          "mode": "list",
          "cachedResultName": "script_php",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10uKoMbsl5n8jPR4ftULvUiUc_1NYxy0OMyrjR-uvtU8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10uKoMbsl5n8jPR4ftULvUiUc_1NYxy0OMyrjR-uvtU8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1552,
        -64
      ],
      "id": "148ce1dd-ec01-4644-9c4a-c888c441b785",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "31LaukvmbfzpoFVr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "test du script php 'Hello world'",
        "height": 80,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2048,
        -80
      ],
      "id": "7b69bab1-f2be-47ff-bfab-483088f88e72",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -240,
        224
      ],
      "id": "d54aee07-99b4-467b-98dd-b3658e4d1f19",
      "name": "Gmail",
      "webhookId": "13f5f92b-f6af-443c-82cd-c467430b4253",
      "credentials": {
        "gmailOAuth2": {
          "id": "1p5L8t0Ti7Odu8ke",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es un assistant chargé de vérifier l'intégrité d'un script python s'exécutant sur un serveur.\nTu reçois le résultat de la comparaison des condensats :\nhash reçu :  {{ $json[\"hash_reçu\"] }}\nhash attendu : {{ $json.hash_attendu }}\nrésultat : {{ $json['résultat'] }}\n\nSi le résultat est 'fichier altéré' utilise le vector store 'Simple Vector Store1' pour trouver l'adresse mail de Jérôme FRASSON \nEnvoi ensuite un mail.\n\nTu disposes pour cela d'un node Gmail.\nL'objet du message sera 'Le script serveur a été altéré'\nDans le corps du message rédige un message synthétique et signe \"Agent IA sécurité\"\n\nEnsuite déclenche le tool 'Call n8n Workflow Tool' qui lancera un workflow automatique pour la restauration du script\n",
        "options": {
          "systemMessage": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -768,
        -64
      ],
      "id": "b4db2256-4fbe-410d-a07f-adb31f1f238f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -976,
        208
      ],
      "id": "bfb4f250-9072-4b9c-ac96-d69702a39bfb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NoZ9aJ2jaS1NHCrC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yAzRwmyHhPqZMFhu",
          "mode": "list",
          "cachedResultName": "Restauration_HITL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -432,
        224
      ],
      "id": "822b2843-b5af-4729-97d6-814f4d1b6e93",
      "name": "Call n8n Workflow Tool"
    }
  ],
  "pinData": {},
  "connections": {
    "Crypto": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "60e78840-59e4-4b20-9046-fe5b2bf732cc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "779524e63dbde32a73cbf739cde16780b056dc31072ff92c4fdba4f2d62e9ee8"
  },
  "id": "3VBBotOWCyJ8zDEU",
  "tags": []
}